@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --height: 30px;
  --duration: 1s;
  --half-duration: calc(var(--duration) / 2);
  --common-marigin-bottom: 30px;
  --common-padding: 30px;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato", sans-serif;
}

main {
  width: 60%;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 2rem;
  color: #77491e;
}

.content-wrapper {
  display: flex;
  gap: 40px;
}

.column-1,
.column-2 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

article {
  margin-bottom: 30px;
  line-height: 1.8;
  letter-spacing: 1.3px;
  font-weight: 300;
  text-align: justify;
}

article > h1{
  text-transform: uppercase;
  color: #77491e;
}

.img-wrapper {
  padding: 30px;
  position: relative;
  text-align: center;
}

.img-wrapper > h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 5em;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
}

img {
  width: 100%;
}

footer {
  width: 100%;
  height: 200px;
  background-color: rgb(82, 82, 82);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
}
footer .footer__link{
  transition: all .5s;
}
footer .footer__link:hover{
  color: #309900;

}

.navigation{
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation > li{
  list-style: none;
}

.footer__link{
  color: #fff;
  margin: 0px 20px;
  text-decoration: none;
}

.footer__copyright .footer__link{
  color: #ff8b1e;
  margin: 0px;
}

.note-wrapper {
  position: relative;
  width: 100%;
  color: white;
}

.note {
  position: relative;
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.focus-me {
  display: inline-block;
  width: 150px;
  text-align: center;
  /* padding: 5px; */
  background-color: #77491ecc;
  cursor: pointer;
  transition: all .3s;
}

.focus-me:hover{
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  background-color: #77491e;
  transform: translateY(-0.1rem);
}

.focus-me:active{
  transform: translateY(0.1rem);
}

.focus-me:focus + .focus-wrapper {
  text-align: center;
  animation: slide-in 1s ease-in;
  animation-fill-mode: forwards;
}

.focus-me:focus + .focus-wrapper .content {
  transition: opacity 0.5s ease-in;
  transition-delay: 1s;
  opacity: 1;
}

.focus-me:not(:focus) + .focus-wrapper .content {
  transition: opacity 0.5s ease-out;
  opacity: 0;
}

/* .focus-me:focus:not(:hover) + .focus-wrapper */
.focus-me:not(:focus) + .focus-wrapper {
  text-align: center;
  animation: slide-out 1s ease-out;
  animation-fill-mode: backwards;
  animation-delay: 0.5s;
}

.focus-wrapper {
  position: absolute;
  left: 0;
  width: 0;
  top: var(--height);
  display: flex;
  background: #66a729c5;
  height: 0;
  padding: 0px;
  
}

.content {
  text-transform: uppercase;
  font-weight: 400;
  flex: 1;
  opacity: 0;
}

.content {
  transition-delay: 0;
}

form {
  padding: 30px;
  border-radius: 10px;
  width: 45%;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
}
form > button {
  width: 95%;
  margin-left: 3%;
  padding: 20px;
  margin-top: 30px;
  border: none;
  background-color: #66a729c5;
  color: #fff;
  transition: all .5s;
  cursor: pointer;
}

form > button:hover{
  background-color: #005600;
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
  transform: translateY(-0.1rem);

}

form > button:active{
  transform: translateY(0.1rem);

}

.form-wrapper {
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(250, 250, 250);
}

.form-wrapper > h1 {
  font-size: 3rem;
  color: #77491ecc;
  margin-bottom: 30px;
}

:focus {
  outline: none;
}
::selection {
  color: rgb(40, 128, 0);
  background: rgb(255, 255, 230);
}

.input-container {
  float: left;
  width: 100%;
  margin: 20px 3%;
  position: relative;
  grid-area: col;
}

.input-container > label {
  color: #66a729;
}

input::-webkit-input-placeholder{
  color:#77491e;
}

input[type="text"],input[type="password"],select {
  color: #77491e;
  width: 95%;
  letter-spacing: 1px;
  padding: 15px;
}

select{
  margin-top: 30px;
}


.input {
  margin-top: 10px;
  border: 0;
  padding: 7px 0;
  border-bottom: 1px solid #ccc;
}

.input ~ .focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #66a729c5;
  transition: 0.4s;
}

.input:focus ~ .focus-border {
  width: 95%;
  transition: 0.4s;
  left: 0;
}

@media only screen and (max-width: 980px) {
  main{
    margin-bottom: 100px;
  }
  main header h1{
    font-size: 2.5rem;
  }
  main .content-wrapper{
    flex-direction: column;
  }
  .column-1,.column-2{
    width: 100%;
  }
  form{
    width: 65%;
  }
  footer{
    flex-direction: column;
  }

}